config FB_JZ_V14
	tristate "JZ LCDC framebuffer V1.4"
	depends on FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
	  Framebuffer support for the T30 SoC.

config FB_JZ_DEBUG
	  bool "fb test for displaying color bar"
	  depends on FB_JZ_V14
	  default n
	  help
	  fb test for displaying color bar in your board.

