
choice
	prompt "Platform type"
	depends on CHIP_X1630
	default PLATFORM_X1630_ISVP

config PLATFORM_X1630_ISVP
	bool "isvp"

endchoice

config PRODUCT_NAME
	string
	default "isvp" if PLATFORM_X1630_ISVP

if PLATFORM_X1630_ISVP
source "arch/mips/xburst/soc-x1630/chip-x1630/isvp/Kconfig"
endif
