
menuconfig TRUE_COLOR_LOGO
       bool "True Color Logo for Ingenic"
       default n

config TRUE_COLOR_LOGO_FILE
       string "Logo File"
       depends on TRUE_COLOR_LOGO
       default "drivers/video/logo-ingenic/logo.png"
       help
         set a png type file directory.

config TRUE_COLOR_LOGO_BACKGROUND
       hex "Background Color"
       depends on TRUE_COLOR_LOGO
       default '0x00ffffff'
       help
         set default background color.
