source "ingenic/drivers/leds/Kconfig"
source "ingenic/drivers/mic/Kconfig"
source "ingenic/drivers/si1143/Kconfig"
source "ingenic/drivers/aw9163/Kconfig"
source "ingenic/drivers/aw87519/Kconfig"
source "ingenic/drivers/sensory_license/Kconfig"
source "ingenic/drivers/im501/Kconfig"
source "ingenic/drivers/gsl1680/Kconfig"
source "ingenic/drivers/fingerprint/Kconfig"
source "ingenic/drivers/gt917s/Kconfig"
source "ingenic/drivers/ax88796c/Kconfig"
