config INGENIC_RPROC
        tristate "ingenic remoteproc support"
        depends on HAS_DMA
        select REMOTEPROC
        default n
        help
          Say y or m here to support ingenic mcu remoteproc.
          This can be either built-in or a loadable module.
          If unsure say N.

config INGENIC_MCU_RPROC
        tristate "ingenic mcu remoteproc support"
        depends on HAS_DMA
        select REMOTEPROC
        default n
        help
          Say y or m here to support ingenic mcu remoteproc.
          This can be either built-in or a loadable module.
          This module needs to be used with the mcu-host application.
          If unsure say N.
