choice
	prompt "BOARD type"
	depends on BOARD_HALLEY2_PRO
	default BOARD_HALLEY2_PRO_V10

config BOARD_HALLEY2_PRO_V10
       bool "halley2 pro v1.0"
       depends on BOARD_HALLEY2_PRO

endchoice

config BOARD_NAME
	string
	default "halley2_pro_v10" if BOARD_HALLEY2_PRO_V10
