&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
	timeout = <1000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pa>;

	/*RD_X2000_HALLEY5_CAMERA_V3.2*/
	imx327_0:imx327@0x1a {
		status = "ok";
		compatible = "ovti,imx327";
		reg = <0x1a>;
		pinctrl-names = "default";
		pinctrl-0 = <&cim1_vic_mclk_pc>;

		ingenic,mclk = <1>;
		ingenic,rst-gpio = <&gpc 27 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		/*
		ingenic,ircutp-gpio = <&gpb 7 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		ingenic,ircutn-gpio = <&gpb 1 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;

		*/
		port {
			imx327_ep0:endpoint {
				remote-endpoint = <&isp0_ep>;
			};
		};
	};
};


&i2c3 {
	status = "okay";
	clock-frequency = <100000>;
	timeout = <1000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pa>;

	/*RD_X2000_HALLEY5_CAMERA_V3.2*/
	imx327_1:imx327@0x1a {
		status = "ok";
		compatible = "ovti,imx327";
		reg = <0x1a>;
		pinctrl-names = "default";
		pinctrl-0 = <&cim2_vic_mclk_pc>;

		ingenic,mclk = <2>;
		ingenic,rst-gpio = <&gpc 28 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		/*
		ingenic,ircutp-gpio = <&gpb 7 GPIO_ACTIVE_HIGH INGENIC_GPIO_NOBIAS>;
		ingenic,ircutn-gpio = <&gpb 1 GPIO_ACTIVE_LOW INGENIC_GPIO_NOBIAS>;
		*/

		port {
			imx327_ep1:endpoint {
				remote-endpoint = <&isp1_ep>;
			};
		};
	};
};


&isp0_ep {
	remote-endpoint = <&imx327_ep0>;
	data-lanes = <0 1>;
	clk-lanes = <2>;
};

&isp1_ep {
	remote-endpoint = <&imx327_ep1>;
	data-lanes = <3 4>;
	clk-lanes = <5>;
};

